<!DOCTYPE html>
<head>
   <title>My First Page</title>
   <link rel="stylesheet" href="http://stash.compjour.org/assets/css/foundation.css">
</head>
<body style="width: 880px; margin: auto;">
    <h3 aligne = "left"><font size="3" face="georgia" > Home Page </h3>
    <h1  aligne = "center" > <font  face="georgia" >ONE MILLION CODERS ARAB </font></h1>

    <p  align = "center"><font size="3" face="georgia" color="blue"><u>MEMBERS </u> -- <u> Profile </u></u></font></u>.</p>
    <HR align=center size=4 width="100%" >
    <style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
    <table>

   <tr>
       <th>Member</th>
       <th>Topic</th>
   </tr>

   <tr>
       <td>Member1</td>
       <td>Topic 1......................................</td>
   </tr>
        </tr>

   <tr>
       <td>Member2</td>
       <td>Topic 2......................................</td>
   </tr>
        </tr>

   <tr>
       <td>Member3</td>
       <td>Topic 3......................................</td>
   </tr>
        </tr>

   <tr>
       <td>Member4</td>
       <td>Topic 4......................................</td>
   </tr>

</table>
</body>